-- MySQL Sink connector, reading only one topic.

curl -X POST http://localhost:28083/connectors -H "Content-Type: application/json" \
   -d '{ 
        "name": "sink-jdbc-mutable",
        "config": {
               "connector.class":"io.confluent.connect.jdbc.JdbcSinkConnector",
               "tasks.max":1,
               "topics":"mysql-source-first_table",
               "insert.mode":"upsert",
               "connection.url":"jdbc:mysql://mysql:3306/target", 
               "connection.user":"root",
               "connection.password":"Admin123",
               "auto.create":true,
               "pk.mode":"record_key",
               "pk.fields":"id",
               "delete.enabled":"true"
         }
   }'