
-- All topics from the mysql-source connector

curl -X POST http://localhost:8083/connectors -H "Content-Type: application/json" \
   -d '{ 
        "name": "sink-pg",
        "config": {
            "connector.class":"io.confluent.connect.jdbc.JdbcSinkConnector",
            "tasks.max":1,
            "connection.url":"jdbc:postgresql://postgres:5432/target",
            "connection.user":"admin",
            "connection.password":"password",
            "poll.interval.ms":"1000",
            "table.name.format": "${topic}",
            "topics.regex":"mysql-source-(.*)",
            "insert.mode":"upsert",
            "pk.mode":"record_value",
            "pk.fields":"id,created_at",
            "auto.create":"true",
            "auto.evolve":"true",
            "batch.size": 3000
        }
        }'

