-- Inserts all changes as new records.

curl -X PUT http://localhost:8083/connectors/sink-mongodb-local/config -H "Content-Type: application/json" -d ' {
        "connector.class":"com.mongodb.kafka.connect.MongoSinkConnector",
        "tasks.max":"1",
        "topics":"mysql-source-first_table",
        "connection.uri":"mongodb://root:rootpassword@mongodb:27017",
        "database":"kafka-test",
        "collection":"dev",
        "key.converter":"io.confluent.connect.avro.AvroConverter",
        "key.converter.schema.registry.url":"http://schema-registry:8081",
        "key.converter.schemas.enable":false,
        "value.converter":"io.confluent.connect.avro.AvroConverter",
        "value.converter.schema.registry.url":"http://schema-registry:8081"
}'   
