-- source RDS connector using timestamp and incrementing strategy and 1 second polling

  curl -X POST \
  -H "Content-Type: application/json" \
  --data '{ "name": "mysql_source", 
            "config": { 
                  "connector.class": "io.confluent.connect.jdbc.JdbcSourceConnector", 
                  "tasks.max": 1, 
                  "connection.url": "jdbc:mysql://mysql:3306/source", 
                  "connection.user": "root", 
                  "connection.password": "Admin123", 
                  "mode": "timestamp+incrementing", 
                  "incrementing.column.name": "id",
                  "timestamp.column.name": "updated_at", 
                  "catalog.pattern":"source",
                  "topic.prefix": "mysql-source-", 
                  "poll.interval.ms": 1000 } }' \
  http://localhost:8083/connectors